{% extends "./base.html" %}

{% block title %}Comment{% endblock %}

{% block content %}
    <div class="page-header">
        {% if ps_name %}
            <h1>New comment on "{{ ps_name }}"</h1>
        {% else %}
            <h1>New comment</h1>
        {% endif %}
        <h1>            </h1>
    </div>
    <div class="content">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
    </div>
{% endblock %}
