{% extends "./base.html" %}

{% block title %}Post Detail{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ object.header }}</h1>
    </div>
    <div class="content">
        <table>
            <tr>
                <td><b>Image:</b> {{ object.image }}</td>
            </tr>
            <tr>
                <td><b>Short_description:</b> {{ object.short_description }}</td>
            </tr>
            <tr>
                <td><b>Full_description:</b> {{ object.description }}</td>
            </tr>
            <tr>
                <td><b>Is_active:</b> {{ object.is_active }}</td>
            </tr>
            <tr>
                <td colspan="2" class="divider"><hr/></td>
            </tr>
            <tr>
                <td><a href="edit/{{ object.id }}"> (Edit post) </a></td>
            </tr>
            <tr>
                <td><a href="delete/{{ object.id }}"> (Delete post) </a></td>
            </tr>
            <tr>
                <td colspan="2" class="divider"><hr/></td>
            </tr>
            <tr>
                <td><a href="{% url 'user_post_list' %}"> << Back to the list of posts >> </a></td>
            </tr>
        </table>
    </div>
{% endblock %}
